- true_up_link = link_to('', 'https://about.gitlab.com/pricing/licensing-faq/')
- billable_users_link = link_to('', help_page_path('subscriptions/self_managed/index.md', anchor: 'billable-users'), target: '_blank', rel: 'noopener noreferrer nofollow')
- billable_users_updated_string = s_("AdminArea|Updated %{last_update_time}") % { last_update_time: @license.daily_billable_users_updated_time }

.gl-grid.sm:gl-grid-cols-2.gl-gap-5.gl-mb-6
  = render Pajamas::CardComponent.new(header_options: { class: 'gl-grow' }) do |c|
    - c.with_body do
      = render Pajamas::SingleStatComponent.new(title: _('Users in subscription'), stat_value: licensed_users(@license) || _('Unlimited'), stat_value_testid: 'users-in-license-content')
      - if @license.will_expire?
        = _('Your license is valid from')
        %strong<>
          = _(' %{start} to %{end}') % { start: @license.starts_at, end: @license.expires_at }
        \.
      = seats_calculation_message(@license)
      - c.with_footer do
        = billable_users_updated_string

  = render Pajamas::CardComponent.new(header_options: { class: 'gl-grow' }) do |c|
    - c.with_body do
      - billable_users_count = number_with_delimiter @license.daily_billable_users_count
      = render Pajamas::SingleStatComponent.new(title: _('Billable users'), stat_value: billable_users_count, stat_value_testid: 'billable-users-content')
      = safe_format(_('This is the number of %{billable_users_link_start}billable users%{billable_users_link_end} on your installation, and this is the minimum number you need to purchase when you renew your license.'), tag_pair(billable_users_link, :billable_users_link_start, :billable_users_link_end))
    - c.with_footer do
      = billable_users_updated_string

  = render Pajamas::CardComponent.new(body_options: { class: 'gl-grow' }, card_options: { class: 'flex-fill' }, header_options: { class: 'gl-grow' }) do |c|
    - c.with_body do
      - maximum_user_count = number_with_delimiter @license.maximum_user_count
      = render Pajamas::SingleStatComponent.new(title: _('Maximum Users'), stat_value: maximum_user_count)
      = _('This is the highest peak of users on your installation since the license started.')
    - c.with_footer do
      = billable_users_updated_string

  = render Pajamas::CardComponent.new(header_options: { class: 'gl-grow' }) do |c|
    - c.with_body do
      - users_over_licence_count = number_with_delimiter users_over_license
      = render Pajamas::SingleStatComponent.new(title: _('Users over License'), stat_value: users_over_licence_count)
      - if users_over_license > 0
        = render Pajamas::AlertComponent.new(alert_options: { class: 'gl-mb-3' }, dismissible: false) do |c|
          - c.with_body do
            = s_('Your instance has exceeded your subscription\'s licensed user count.')
      - if current_license.trial?
        = safe_format(_('You are using a trial license. When you use a paid subscription, you\'ll be charged for %{trueUpLinkStart}users over license%{trueUpLinkEnd}.'),
          tag_pair(true_up_link, :trueUpLinkStart, :trueUpLinkEnd))
      - else
        = safe_format(_('You\'ll be charged for %{trueUpLinkStart}users over license%{trueUpLinkEnd} on a quarterly or annual basis, depending on the terms of your agreement.'),
          tag_pair(true_up_link, :trueUpLinkStart, :trueUpLinkEnd))
    - c.with_footer do
      = billable_users_updated_string
