%p
  = s_('PIPL|Please be advised that GitLab can no longer service GitLab.com accounts for individuals and organizations located in Mainland China, Macao, and Hong Kong. Our system indicates that you are visiting GitLab from one of these locations. We advise you to sign up with JiHu %{jihu_link}. JiHu is an independent company with a localized GitLab offering that has an exclusive right to provide GitLab to individuals and organizations located in this region. You must complete the transition by %{deadline}, after which GitLab will delete your account from our systems. If you believe you are receiving this notification in error, please log in to GitLab.com from a supported service location. For further information or support, please feel free to contact saasmigration@gitlab.cn.') % { jihu_link: link_to('https://gitlab.cn/saasmigration/', 'https://gitlab.cn/saasmigration/', target: '_blank'), deadline: @deadline }

  = s_('Best Regards,')
  = s_('GitLab Team')
